<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Locations</title>
</head>
<body>
	<div align="center">

		<a th:href="@{posts}">Posts</a> | <a th:href="@{students}">Students</a>|
		<a th:href="@{users}">Users</a> | <a th:href="@{locations}">Locations</a>
		<table>
			<tr>
				<th>Location Id</th>
				<th>Location Name</th>

			</tr>
			<tr th:each="location : ${locations}">
				<td th:text="${location.id}"></td>
				<td th:text="${location.name}"></td>
			</tr>
		</table>
	</div>

</body>
</html>