<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Posts</title>
</head>
<body>
	<div align="center">

		<a th:href="@{posts}">Posts</a> | <a th:href="@{students}">Students</a>|
		<a th:href="@{users}">Users</a> | <a th:href="@{locations}">Locations</a>
		<table>
			<tr>
				<th>Post Id</th>
				<th>Post Date</th>
				<th>Post Details</th>
				<th>User Id</th>
			</tr>
			<tr th:each="post : ${posts}">
				<td th:text="${post.id}"></td>
				<td th:text="${post.postdate}"></td>
				<td th:text="${post.details}"></td>
				<td th:text="${post.user.id}"></td>
			</tr>
		</table>
	</div>

</body>
</html>