<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Users</title>
</head>
<body>
	<div align="center">

		<a th:href="@{posts}">Posts</a> | <a th:href="@{students}">Students</a>|
		<a th:href="@{users}">Users</a> | <a th:href="@{locations}">Locations</a>
		<table>
			<tr>
				<th>User Id</th>
				<th>User Name</th>
				<th>User Email</th>
				<th>Location Id</th>
			</tr>
			<tr th:each="user : ${users}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.location.id}"></td>
			</tr>
		</table>
	</div>

</body>
</html>